.ToggleTabContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 5;
    height: 100%;
}

.ToggleTabButtonWrapper {
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    left: 100%;
}

.ToggleTabButton {
    pointer-events: all;
    height: 100px;
    width: 15px;
    padding: 0;
    background-color: rgba(30, 60, 20, 0.2);
    border: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.1);
    z-index: 4;
    border-left: none;;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: width 0.2s ease-in-out, background-color 0.2s ease-in-out;
    cursor: pointer;
}

.ToggleTabButton:hover {
    width: 30px;
    background-color: rgba(30, 60, 20, 1);
}

.HousingFiltersContainer {
    height: 100%;
    padding: 10px;
    /* box-shadow: -20px 0px 18px 18px rgba(0, 0, 0, 0.35); */
    background-color: rgb(240,245,233);
    border-right: solid rgba(30, 60, 20, 0.2) 1px;
}