.NavBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(10,60,50);
    color: rgb(200,200,200);
    padding-left: 20px;
    padding-right: 20px;
}

.NavBarOptionsContainer {
    display: flex;
}

.WideOptionsContainer {
    flex-direction: row;
    position: relative;
}

.NarrowOptionsContainer {
    display: none;
    position: relative;
}

.MiscContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.MiscContainer > * {
    height: min-content;
}

@media (max-width: 768px) {
    .WideOptionsContainer {
        display: none;
    }
    .NarrowOptionsContainer {
        display: flex;
    }
}

.NavBarDropdownContainer {
    top: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background-color: rgb(10,60,50);
}

.NavBarDropdownContainer > * {
    padding: 10px
}