.FormInputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
}

.FormInputName {
    font-size: 11px;
    user-select: none;
}

.FormInput {
    background-color: rgb(245,245,245);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(220,220,220);
    box-shadow: inset 0px 2px 6px -6px rgba(66, 68, 90);
}