.FormInputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
}

.FormInputName {
    font-size: 11px;
    user-select: none;
    text-wrap-mode: nowrap;
}

.FormInputContainer > input {
    border-width: 1px;
    border-style: solid;
    box-shadow: inset 0px 2px 6px -6px rgba(66, 68, 90);
}

.FormInputContainerDisabled > input {
    background-color: rgb(245, 235, 235);
    cursor: not-allowed
}

.FormInputContainerEnabled > input {
    border-color: rgb(220,220,220);
    background-color: rgb(245,245,245);
}

.FormInputNameDisabled {
    color: gray;
}