.AccountButton {
    position: relative;
    height: 35px;
    width: 35px;
    margin: 5px;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* overflow: hidden */
}

.AccountButton > div {
    user-select: none;
}

.AccountButtonText {
    font-weight: 600;
    font-size: 16px;
}

.AccountButtonIcon {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* opacity: 35%; */
    overflow: visible;
}