.FloatingDropdownContainer {
    position: relative;
}

.FloatingDropdownMenu {
    display: flex;
    flex-direction: column;
}

.FloatingDropdownMenuWrapper {
    width: max-content;
    position: absolute;
    z-index: 100;
    top: 100%;
}

.FloatingDropdownMenuButtons {
    background-color: rgb(240,245,240);
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    user-select: none;
}

.FloatingDropdownMenuButtons:hover {
    background-color: rgb(200,200,200);
}

.FloatingDropdownMenuRetract {
    background-color: rgb(245,230,220);
    height: 20px;
}

.FloatingDropdownToggleButton {
    cursor: pointer;
}