.HousingFormContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.ClusteredInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.HfbContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 350px;
}

.HousingFormButton {
    background-color: rgb(232, 255, 232);
    width: 100%;
    border-style: solid;
    border-color: rgb(40, 80, 40);
    border-width: 1px;
    padding: 10px;
    border-radius: 10px;
}

.HousingFormButton:active {
    background-color: rgb(220, 245, 230);
}