.ScContainer {
    display: flex;
    flex-direction: column;
    border-color: rgb(40, 80, 40);
    border-radius: 16px;
    border-style: solid;
    padding: 20px;
    gap: 20px;
}

.ScContainer > h2 {
    margin: 0;
}